#top_nav{
    background-color: #2a2a40;
    border-bottom-width: 0.15rem;
    border-bottom-color: gray;
    border-bottom-style: solid;
}
#search_icon{
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    border-width: 0;
    background-color: #2a2a40;
    width: 2rem;
    height: 2rem;
    background-size: cover;
}
#profile_icon{
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
}
#bell_icon{
    background-image: url("../images/bell_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
}
html, body{
    background-color: #2a2a40;
    width: 100%;
    height: 100%;
}
#side_bar{
    width: 100%;
    border-right-width: 0.3rem;
    border-right-color: gray;
    border-right-style: solid;
}
#title{
    color: #eabc28;
}
#content_area{
    margin-top: 10rem;
}
.menu_item{
    color:lightgray;
}
.hide_menu{
    display: none;
}
.hide_menu_trigger:hover .hide_menu{
    display: inline;
    transition: all .2s ease-in-out;
}
#write_icon_wrapper{
    margin-top: 33%;
}
#write_icon{
    background-image: url("../images/write_new.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-width: 0;
}

#sidebar-active{
    color: #ffcc33;
}
#post_content{
    line-height: 2rem;
}
.post_card{
    background-color: #e0e0e0;
    border-radius: 0.5rem;
}