<div class="ml-5 w-20 col-md-7 mb-5 h-10 post_card pt-1">
    <div id="post_title_area">
        <span id="post_title" class="h3 mr-3">{{post.title}}</span>
        <span id="post_title" class="h4 mr-3 float-right mr-2 clear">{{post.temperature|floatformat:-1 }} ℃</span>
    </div>
    <div id="post_content" class="ml-4 h5 mt-3">
    {% for line in post.content %}
    {{line}}
    <br>
    {% endfor %}
    </div>
    <div id="post_state_area" class="ml-4 h5 mt-3">
        <span id="post_time" class="h6">{{post.date_time}}</span>
        <span id="post_user_id" class="h6">by {{post.user_id.id}}</span>
    </div>
</div>