{% extends "base_user.html" %}
{% block sidebar %}
<div class="sidebar w-100">
    <nav class="sidebar-nav w-100">
      <ul class="nav w-100">
        <li class="nav-item w-100 mb-5">
          <a class="nav-link text-white btn"  href="#">
             <i class="nav-icon cui-speedometer"></i> <p class="h3 menu_item">메인</p>
          </a>
        </li>
        </li>
              <li class="nav-item w-100 mb-5">
          <a class="nav-link text-white btn" href="{% url 'login' %}">
             <i class="nav-icon cui-speedometer sidebar-active"></i> <p class="h3 menu_item" >로그인</p>
          </a>
        </li>
        <li class="nav-item w-100 mb-5">
          <a class="nav-link text-white btn" href="{% url 'signup' %}">
             <i class="nav-icon cui-speedometer "></i> <p class="h3 menu_item" >회원가입</p>
          </a>
        </li>
      </ul>
    </nav>
</div>
{% endblock sidebar %} 
{% block contentArea %}
<div style="background-color: antiquewhite; min-height: 500px;" >
    <h2><b>로그인</b> <b style="font-weight:normal; font-size:15px">Sign Up</b></h2>
    <hr/>
    <div style="max-width: 30%;">
    {% if loginInfo %}
        <form accept-charset = "utf-8" method = "POST">
            <div class="form-group m-2">
                {% csrf_token %}
                {{ loginInfo }}
                <div class="row">
                    <div class="col-12">
                        <button type="submit" id="action" class="btn btn-dark btn-lg mt-3">로그인</button>
                        <button class="btn btn-dark btn-lg  mt-3" style="float:right;" onclick="goSignup()">회원가입</button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    </div>    
</div>
{% endblock contentArea %}

{% block script %}
<script>
  function goSignup()
  {
      location.href = "{% url 'signup' %}"
  }
</script>
{% if alert %}
  <script>
      alert("로그인 실패\n아이디 또는 비밀번호를 확인해주세요.")
  </script>
{% endif %}
{% endblock script %}