<div class="sidebar w-100">
  <nav class="sidebar-nav w-100">
    <ul class="nav w-100">
      <li class="nav-item w-100 mb-5">
        <a class="nav-link text-white btn" href="#">
           <i class="nav-icon cui-speedometer"></i> <p class="h3 menu_item">메인</p>
        </a>
      </li>
      </li>
            <li class="nav-item w-100 mb-5">
        <a class="nav-link text-white btn" href="#">
           <i class="nav-icon cui-speedometer"></i> <p class="h3 menu_item">당신을 위한 추천</p>
        </a>
      </li>
      <li class="nav-item w-100 mb-5">
        <a class="nav-link text-white btn" href="#">
           <i class="nav-icon cui-speedometer"></i> <p class="h3 menu_item">오늘의 인기글</p>
        </a>
      </li>

      <li class="nav-item w-100 mb-5 hide_menu_trigger">
        <a class="nav-link text-white btn" href="#">
           <i class="nav-icon cui-speedometer"></i> <p class="h3 menu_item">온도별</p>
        </a>
        <ul class="nav w-100 hide_menu">
          <li class="nav-item w-100 mr-4">
            <a class="nav-link btn pb-0 pt-0" href="#">
              <i class="nav-icon cui-speedometer "></i> <p class="h4 menu_item text-right">뜨거운</p>
            </a>
          </li>
          <li class="nav-item w-100 mr-4">
            <a class="nav-link btn pb-0 pt-0" href="#">
              <i class="nav-icon cui-speedometer"></i> <p class="h4 menu_item text-right">차가운</p>
            </a>
          </li>
          <li class="nav-item w-100 mr-4">
            <a class="nav-link btn pb-0 pt-0" href="#">
              <i class="nav-icon cui-speedometer"></i> <p class="h4 menu_item text-right">따듯한</p>
            </a>
          </li>
       </ul>
    </ul>
  </nav>
</div>