  <nav id="top_nav" class="navbar navbar-expand-lg">
    <a class="h3 text-white text-decoration-none" href="#"> <p id="title" class="h1 mb-0 pb-0">첫 줄</p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white ml-2 mt-3 h4" href="#">키워드 모아보기</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button type="submit" id="search_icon"></button>
      </form>
      <a href="#" class="ml-2" id="bell_icon"></a>
      <a href="#" class="ml-2" id="profile_icon"></a>
    </div>
  </nav>